<nav class="navbar fixed-top">
  <div class="container-fluid">
    <div class="leftCorner d-flex justify-content-start">
      <a href="#home">
        <img src="./assets/WClogo.png" width="35px" height="35px" alt="Logo Wild Circus">
      </a>
      <a class="#hi">
        <p>Hello, </p>
      </a>
    </div>

    <div class="rightCorner d-flex justify-content-end">
      <a href="#trophy">
        <i class="btn btn-sm fa fa-trophy" style="font-size:28px;color:white"></i>
      </a>

      <a href="#github">
        <i class="fa fa-github-square" style="font-size:28px;color:white" href="#" title="Go to GitHub"></i>
      </a>

      <a href="#linkedin"><i class="fa fa-linkedin-square" style="font-size:28px;color:white" href="#"
          title="Go to LinkedIn"></i>
      </a>
    </div>
  </div>

</nav>