<div class="AboutClowns col-12">
  <div class="row">
    <div class="img-hover-zoom col-6 text-center d-none d-sm-block">
      <figure><img src="./assets/clown-4300366_640.jpg"></figure>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
      <div class="column">
        <h1>Les Clowns</h1>
        <p>Aux spectacles équestres, s’ajoute la première figure du clown. Acrobate d’abord, il utilise son corps pour
          faire rire (cabrioles, numéros avec des animaux). IL est au début tout seul sur scène, puis rejoint par
          d’autres
          personnages permettant la création de duos, de trios et de saynètes. Grâce à l’ordonnance sur la liberté des
          spectacles en 1864.

          Des clowns célèbres : l’Anglais FOOTTIT, le russe POPOV, le suisse GROCK, les frères FRATELLINI.
        </p>

        <p>L’apparition du clown se généralise dans la seconde moitié du XIXè siècle. Le premier maquillage sera repris
          et
          réinventé au fil des siècles par une succession d’amuseurs, dont Joseph GRIMALDI qui en fera un symbole au
          début
          du XIXè siècle : maquillé en blanc, il annonce le clown moderne.

          Son costume est misérable, son maquillage grotesque ; c’est celui qui reçoit les gifles et les coups de batte
          (empruntée à Arlequin). Quant à lui, l’Auguste cultive son aspect dépenaillé, et sa singularité lui vient de
          la
          démesure de ses chaussures ou de l’extravagance de son manteau. Tous 2, ils forment un duo : l’autorité du
          clown
          blanc partage la piste avec l’Auguste.</p>
      </div>
    </div>
  </div>

  <div class="tips col-12 text-center">
    <p><span>" </span>Etymologiquement, le mot “Clown” signifie “rustaud” en anglais. Dans les pièces de théâtre élisabéthain, le
      clown était un personnage gaffeur, balourd, ridicule, mais en même temps, doué d’un rude bon sens et d’un
      audacieux cynisme.<span> "</span></p>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">
      <div class="column">
        <p>Plus tard, le duo comique fut complété par Monsieur LOYAL, toujours en habit, incarnant la direction du
          cirque, provoque des répliques hilarantes.

          A l’origine, le rôle du clown était d’amuser entre deux numéros violents ou dangereux. En prenant de
          l’importance, les clowns ont donné une connotation nouvelle au spectacle.</p>

        <p>A la fin du XIXè siècle, les clowns parleurs surpassent les clowns écuyers ou acrobates, et l’on voit
          apparaître des duos comiques dont le premier est celui de Foottit et Chocolat. La tradition fut entretenue
          par
          Antonet et Béby, Pipo et Rhum, Dario et Bario, Alex et Porto, etc.

          Vers 1922, les frères FRATELLINI deviennent célèbres avec leurs numéros de clowns musicaux. Paul, Albert et
          François étaient aussi admirables musiciens qu’excellents danseurs et acrobates. Souvent accompagnés de
          comparses, ces acteurs sont appelés “pitres” et “contrepitres”.</p>

        <p>
          Les diverses troupes de clowns musicaux utilisent non seulement les instruments classiques comme le violon,
          l’ocarina, la clarinette, le saxophone, mais ils jouent aussi de l’accordéon et du concertina (petit
          accordéon
          hexagonal).
        </p>

        <div class="quizz text-center">
          <button type="button" class="btn btn-light" routerLink="/quizz">Go to the quizz !</button>
        </div>
      </div>
    </div>

    <div class="img-hover-zoom col-6 text-center d-none d-sm-block">
      <figure><img src="./assets/marcel-marceau-402739_640.jpg"></figure>
    </div>
  </div>




</div>