<div class="col-12">
  <div class="row">

    <div class="title col-12">
      <h1>Welcome to the Wild Circus</h1>
    </div>

    <div class="presentation col-12 mx-auto">
      <h2 class="home-title">
        <span>Here, you're gonna know much more about the wonderfull work inside the circus.</span>
        <span>Choose a category and have fun !</span>
      </h2>
    </div>

    <div class="cards-list">

      <div class="card 1">
        <div class="card_image"> <img src="./assets/face-1038240_640.jpg" /> </div>
        <div class="card_title title-white">
          <p>Clowns</p>
        </div>
      </div>

      <div class="card 2">
        <div class="card_image"> <img src="./assets/gothic-3673246_640.jpg" /> </div>
        <div class="card_title title-white">
          <p>Magicians</p>
        </div>
      </div>

      <div class="card 3">
        <div class="card_image"> <img src="./assets/juggling-1176426_640.jpg" /> </div>
        <div class="card_title title-white">
          <p>Juggles</p>
        </div>
      </div>

      <div class="card 4">
        <div class="card_image"> <img src="./assets/zoo-2438037_640.jpg" /> </div>
        <div class="card_title title-white">
          <p>Wild Animals</p>
        </div>
      </div>

    </div>

  </div>